@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
   
</div>-->
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Seja Bem-Vindo!</h1>
        <h2>"Gerencie suas tarefas com facilidade e eficiência, e concentre-se no que realmente importa."</h2></br>
        <img src="img/foto1.jpg" class="rounded" alt=" imagem no Home" />
    </div>
</div>